@using Microsoft.AspNetCore.Identity
@using Internify.Data.Models;
@using Internify.Data;
@using static Internify.Common.GlobalConstants;

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@inject ICandidateService candidateService
@inject IUniversityService universityService
@inject ICompanyService companyService
@inject RoleChecker roleChecker

<ul class="navbar-nav justify-content-center align-items-center">
    @if (signInManager.IsSignedIn(User))
    {
        var user = await userManager.FindByIdAsync(User?.Id());

        var isAdmin = await userManager.IsInRoleAsync(user, AdministratorRoleName);
        var isInAnyOtherRole = roleChecker.IsUserInAnyRole(user.Id);

        @if (!isAdmin && !isInAnyOtherRole)
        {
            <a class="nav-item nav-link text-dark h5 mx-3" asp-area="" asp-controller="Home" asp-action="SelectRole">
                <i class="far fa-user fa-2x"></i>
            </a>
        }
        else
        {
            if (candidateService.IsCandidateByUserId(User?.Id()))
            {
                <a
                class="nav-item nav-link text-dark h5 mx-2 p-3 border border-dark rounded"
                asp-controller="Candidate"
                asp-action="Details"
                asp-route-id="@candidateService.GetIdByUserId(User?.Id())">My Candidate</a>
                {
                    // My Applications... (applications cam be submitted to an internship by a candidate)
                    // My Company (if the candidate currently is an intern of a company)
                    // My Reviews... (reviews can be edited/deleted by candidate owner)
                    // My Comments... (comments can be edited/deleted by candidate owner)

                    // How about putting everything in Details page?
                    // If current user is owner, they will have all the available buttons (my applications, my reviews, etc...)
                }
            }
            else if (universityService.IsUniversityByUserId(User?.Id()))
            {
                <a
                class="nav-item nav-link text-dark h5 mx-2 p-3 border border-dark rounded"
                asp-controller="University"
                asp-action="Details"
                asp-route-id="@universityService.GetIdByUserId(User?.Id())">My University</a>
            }
            else if (companyService.IsCompanyByUserId(User?.Id()))
            {
                <a
                class="nav-item nav-link text-dark h5 mx-2 p-3 border border-dark rounded"
                asp-controller="Company"
                asp-action="Details"
                asp-route-id="@companyService.GetIdByUserId(User?.Id())">My Company</a>
                {
                    // My (Open) Internships...
                    // My Interns...
                    // My Articles...
                    // My Reviews... (written by interns - candidates)

                    // How about putting everything in Details page?
                    // If current user is owner, they will have all the available buttons (my internships, my interns, etc...)
                }
            }
            else if (isAdmin)
            {
                <a
                class="nav-item nav-link text-dark h5 mx-2 p-3 border border-dark rounded"
                asp-area="Administrator"
                asp-controller="Home"
                asp-action="Index">Admin</a>

                // Admin page (admin nav menu option right next to USER@abv.bg)
                // where admin can choose between options and route to different records and delete/edit them?
                // This way, admin-priviliged operations would be more convenient.
            }
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage">@User.Identity?.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>