@model IEnumerable<ReviewListingViewModel>

<section class="row justify-content-center mt-3">
    @foreach (var review in @Model)
    {
        <section class="container p-3 m-3 bg-light border">
            <p class="h6 mb-4">Posted by: 
                <a class="container-nav-title-content"
                asp-controller="Candidate"
                asp-action="Details"
                asp-route-id="@review.CandidateId">@review.CandidateFullName</a> at @review.CreatedOn
            </p>
            <p class="my-2 h4">@review.Title</p>
            <p>
                @for(int i = 0; i < review.Rating; i++)
                {
                    <span>⭐</span>
                }
            </p>
            <section style="word-break: break-all;">
                @Html.Raw(review.Content)
            </section>
        </section>
    }
</section>