@model InternshipListingQueryModel

@{
    ViewData["Title"] = "Internships";
}

<p class="h2 heading-margin text-center">@ViewData["Title"]</p>

<form method="get">
    <section class="py-5 px-2 d-flex bd-highlight justify-content-evenly align-items-center flex-wrap">
        <section class="form-group">
            <label asp-for="Role"></label>
            <input asp-for="Role" class="form-control">
        </section>

        <section class="form-check form-switch mt-4 mx-2">
            <input class="form-check-input" type="checkbox" asp-for="IsPaid">
            <label class="form-check-label" asp-for="IsPaid">Is Paid</label>
        </section>

        <section class="form-check form-switch mt-4 mx-2">
            <input class="form-check-input" type="checkbox" asp-for="IsRemote">
            <label class="form-check-label" asp-for="IsRemote">Is Remote</label>
        </section>

        <section class="form-group">
            <label asp-for="CompanyId"></label>
            <select asp-for="CompanyId" class="form-control">
                <option value="" selected> -- select company -- </option>
                @foreach (var company in Model.Companies)
                {
                    <option value="@company.Id">@company.Name</option>
                }
            </select>
            <span asp-validation-for="CompanyId" class="small text-danger"></span>
        </section>

        <section class="form-group">
            <label asp-for="CountryId"></label>
            <select asp-for="CountryId" class="form-control">
                <option value="" selected> -- select country -- </option>
                @foreach (var country in Model.Countries)
                {
                    <option value="@country.Id">@country.Name</option>
                }
            </select>
            <span asp-validation-for="CountryId" class="small text-danger"></span>
        </section>

        <section class="form-group">
            <label asp-for="InternshipsPerPage"></label>
            <select asp-for="InternshipsPerPage" class="form-control">
                <option value="6" selected>6</option>
                <option value="12">12</option>
                <option value="24">24</option>
                <option value="48">48</option>
                <option value="96">96</option>
            </select>
        </section>
        <input class="btn btn-primary mt-3" type="submit" value="Search" />
    </section>
</form>

@{
    var previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }
    var maxPage = Math.Ceiling((double)Model.TotalInternships / Model.InternshipsPerPage);
}

@if (Model.Internships.Any())
{
    <partial name="_InternshipsPartial" model="@Model.Internships" />
}
else
{
    <p class="h2 text-center">Uh oh! No internships were found.</p>
}

<section class="d-flex flex-row justify-content-around text-center my-5">
    <section>
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Internship"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-internshipsPerPage="@Model.InternshipsPerPage"
           asp-route-role="@Model.Role"
           asp-route-isPaid="@Model.IsPaid"
           asp-route-isRemote="@Model.IsRemote"
           asp-route-companyId="@Model.CompanyId"
           asp-route-countryId="@Model.CountryId">Previous</a>
    </section>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage || !Model.Internships.Any();
    }

    <section>
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Internship"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-internshipsPerPage="@Model.InternshipsPerPage"
           asp-route-role="@Model.Role"
           asp-route-isPaid="@Model.IsPaid"
           asp-route-isRemote="@Model.IsRemote"
           asp-route-companyId="@Model.CompanyId"
           asp-route-countryId="@Model.CountryId">Next</a>
    </section>
</section>