@model CompanyDetailsViewModel

@inject ICompanyService companyService;
@inject ICandidateService candidateService;
@inject IReviewService reviewService;

@{
    ViewData["Title"] = "Company Details";
}

<section class="container d-flex bd-highlight justify-content-evenly align-items-center flex-column">
    <article>
        @if (Model.Id == companyService.GetIdByUserId(User?.Id()))
        {
            <a class="btn btn-primary rounded m-1"
           asp-area="Company"
           asp-controller="Company"
           asp-action="Edit"
           asp-route-id="@Model.Id">Edit</a>

            <a class="btn btn-primary rounded m-1"
           asp-area="Company"
           asp-controller="Intern"
           asp-action="MyInterns"
           asp-route-companyId="@Model.Id">My Interns</a>

            <a class="btn btn-primary rounded m-1"
           asp-area="Company"
           asp-controller="Internship"
           asp-action="Add">Add Internship</a>

            <a class="btn btn-primary rounded m-1"
           asp-area="Company"
           asp-controller="Internship"
           asp-action="MyInternships"
           asp-route-companyId="@Model.Id">My Internships</a>

            <a class="btn btn-success rounded m-1"
           asp-area="Company"
           asp-controller="Article"
           asp-action="Add">Add Article</a>
        }
        else
        {
            <a class="btn btn-primary rounded m-1"
           asp-controller="Internship"
           asp-action="All"
           asp-route-companyId="@Model.Id">Internships</a>
        }

        @if (candidateService.IsCandidateInCompany(candidateService.GetIdByUserId(User?.Id()), Model.Id))
        {
            <a class="btn btn-primary rounded m-1"
           asp-area="Candidate"
           asp-controller="Review"
           asp-action="Add"
           asp-route-companyId="@Model.Id">Write Review</a>
        }

        <a class="btn btn-success rounded m-1"
           asp-controller="Article"
           asp-action="CompanyArticles"
           asp-route-companyId="@Model.Id">Articles</a>

        <a class="btn btn-warning rounded m-1"
           asp-controller="Review"
           asp-action="CompanyReviews"
           asp-route-companyId="@Model.Id">Reviews</a>

        @if (User.IsAdmin())
        {
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
            </button>

            <!-- Modal -->
            <section class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <section class="modal-dialog">
                    <section class="modal-content">
                        <section class="modal-header">
                            <p class="modal-title h5" id="exampleModalLabel">Delete company</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </section>
                        <section class="modal-body">
                            <p class="h5">Delete this company?</p>
                        </section>
                        <section class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            <a class="btn btn-danger rounded m-1"
                           asp-area="Administrator"
                           asp-controller="Company"
                           asp-action="Delete"
                           asp-route-id="@Model.Id">Delete</a>
                        </section>
                    </section>
                </section>
            </section>
        }
    </article>
    <article class="m-4">
        <p class="h1">@Model.Name</p>
    </article>
    <article style="max-width: 500px;">
        <img src="@Model.ImageUrl" class="img-fluid rounded p-1" />
    </article>
    <article class="p-3">
        @if (!string.IsNullOrEmpty(Model.WebsiteUrl))
        {
            <p>Website: <a href="@(@Model.WebsiteUrl.Contains("http") ? @Model.WebsiteUrl : $"http://{@Model.WebsiteUrl}")">@Model.WebsiteUrl</a></p>
        }
        <p>Founded: @Model.Founded</p>
        @if (@Model.RevenueUSD != null)
        {
            <p>Revenue in USD: @Model.RevenueUSD</p>
        }
        <p>CEO: @Model.CEO</p>
        <p>Company size: @Model.EmployeesCount employees</p>
        <p>Is Public: @Model.IsPublicMessage</p>
        <p>Is Government-owned: @Model.IsGovernmentOwnedMessage</p>
        <p>Specialization: @Model.Specialization</p>
        <p>Country: @Model.Country</p>
    </article>
</section>
<article class="p-2 m-3 bg-light">
    <p class="text-center" style="word-wrap: break-word;">@Html.Raw(Model.Description)</p>
</article>