@model ArticleListingQueryModel

@{
    ViewData["Title"] = $"Articles by {Model.CompanyName}";
}

<p class="h2 heading-margin text-center">@ViewData["Title"]</p>

<form method="get">
    <input asp-for="CompanyId" type="hidden" />
    <input asp-for="CompanyName" type="hidden" />
    <section class="py-4 px-2 d-flex bd-highlight justify-content-evenly align-items-center flex-wrap">
        <section class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control">
        </section>
        <section class="form-group">
            <label asp-for="ArticlesPerPage"></label>
            <select asp-for="ArticlesPerPage" class="form-control">
                <option value="6" selected>6</option>
                <option value="12">12</option>
                <option value="24">24</option>
                <option value="48">48</option>
                <option value="96">96</option>
            </select>
        </section>
        <input class="btn btn-primary mt-3" type="submit" value="Search" />
    </section>
</form>

@{
    var previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }
    var maxPage = Math.Ceiling((double)Model.TotalArticles / Model.ArticlesPerPage);
}

@if (Model.Articles.Any())
{
    <partial name="_ArticlesPartial" model="@Model.Articles" />
}
else
{
    <p class="h2 text-center">Uh oh! No articles were found.</p>
}

<section class="d-flex flex-row justify-content-around text-center my-5">
    <section>
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Article"
           asp-action="CompanyArticles"
           asp-route-currentPage="@previousPage"
           asp-route-articlesPerPage="@Model.ArticlesPerPage"
           asp-route-title="@Model.Title"
           asp-route-companyId="@Model.CompanyId"
           asp-route-companyName="@Model.CompanyName">Previous</a>
    </section>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage || !Model.Articles.Any();
    }

    <section>
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Article"
           asp-action="CompanyArticles"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-articlesPerPage="@Model.ArticlesPerPage"
           asp-route-title="@Model.Title"
           asp-route-companyId="@Model.CompanyId"
           asp-route-companyName="@Model.CompanyName">Next</a>
    </section>
</section>