@model IEnumerable<UniversityListingViewModel>

@{
    ViewData["Title"] = "All Universities";
}

<section class="row justify-content-center mt-3">
    @if (@Model.Any())
    {
        @foreach (var university in @Model)
        {
            <section class="card col-md-3 m-2 bg-light">
                <img src="@university.ImageUrl" class="card-img-center m-1 rounded" alt="University Logo" style="max-height: 200px; object-fit:cover;"/>
                <section class="card-body">
                    <h5 class="card-title">@university.Name</h5>
                    <p class="card-text"><i class="fas fa-map-marker-alt"></i> @university.Country</p>
                    <a asp-controller="University" asp-action="Details" asp-route-id="@university.Id" class="btn btn-primary">Details</a>
                </section>
            </section>
        }
    }
    else
    {
        <h1 class="text-center">No universities found.</h1>
    }
</section>