@model UniversityDetailsViewModel

@inject IUniversityService universityService;

@{
    ViewData["Title"] = "University Details";
}

<section class="container d-flex bd-highlight justify-content-evenly align-items-center flex-column">
    <article>
        @if (Model.Id == universityService.GetIdByUserId(User?.Id()))
        {
            <a class="btn btn-primary rounded m-1"
           asp-controller="University"
           asp-action="Edit"
           asp-route-id="@Model.Id">Edit</a>
        }
        @if (Model.HasAlumni)
        {
            <a class="btn btn-primary rounded m-1"
           asp-controller="University"
           asp-action="Alumni"
           asp-route-universityId="@Model.Id">Alumni</a>
        }
        @if (User.IsAdmin())
        {
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
            </button>

            <!-- Modal -->
            <section class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <section class="modal-dialog">
                    <section class="modal-content">
                        <section class="modal-header">
                            <p class="modal-title h5" id="exampleModalLabel">Delete university</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </section>
                        <section class="modal-body">
                            <p class="h5">Delete this university?</p>
                        </section>
                        <section class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            <a class="btn btn-danger rounded m-1"
                           asp-area="Administrator"
                           asp-controller="University"
                           asp-action="Delete"
                           asp-route-id="@Model.Id">Delete</a>
                        </section>
                    </section>
                </section>
            </section>
        }
    </article>
    <article class="m-4">
        <p class="h1">@Model.Name</p>
    </article>
    <article style="max-width: 500px;">
        <img src="@Model.ImageUrl" class="img-fluid rounded p-1" />
    </article>
    <article class="p-3">
        <p>Website: <a href="@(@Model.WebsiteUrl.Contains("http") ? @Model.WebsiteUrl : $"http://{@Model.WebsiteUrl}")">@Model.WebsiteUrl</a></p>
        <p>Founded: @Model.Founded</p>
        <p>Type: @Model.Type</p>
        <p>Country: @Model.Country</p>
    </article>
</section>
<article class="p-2 m-3 bg-light">
    <p class="text-center" style="word-wrap: break-word;">@Model.Description</p>
</article>