@model IEnumerable<CandidateListingViewModel>

<section class="row justify-content-center mt-3">
    @if (@Model.Any())
    {
        @foreach (var candidate in @Model)
        {
            <section class="card col-md-3 m-2 bg-light">
                <img src="@candidate.ImageUrl" class="card-img-center m-1 rounded" alt="Candidate Picture" style="min-height: 300px; max-height: 300px; object-fit: contain;" />
                <section class="card-body">
                    <h5 class="card-title">@candidate.FirstName @candidate.LastName (@candidate.Age)</h5>
                    <p class="card-text">@candidate.Specialization</p>
                    <p class="card-text"><i class="fas fa-map-marker-alt"></i> @candidate.Country</p>
                    <a asp-controller="Candidate" asp-action="Details" asp-route-id="@candidate.Id" class="btn btn-primary">Details</a>
                </section>
            </section>
        }
    }
    else
    {
        <h1 class="text-center">No candidates found.</h1>
    }
</section>