@model CandidateListingQueryModel

@{
    ViewData["Title"] = "All Candidates";
}

<form method="get">
    <section class="py-5 px-2 d-flex bd-highlight justify-content-evenly align-items-center flex-wrap">
        <article class="form-group m-2">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control">
        </article>
        <article class="form-group m-2">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control">
        </article>
        <article class="form-group m-2">
            <label asp-for="SpecializationId"></label>
            <select asp-for="SpecializationId" class="form-control">
                <option value="" selected> -- select an option -- </option>
                @foreach (var specialization in Model.Specializations)
                {
                    <option value="@specialization.Id">@specialization.Name</option>
                }
            </select>
            <span asp-validation-for="SpecializationId" class="small text-danger"></span>
        </article>
        <article class="form-group m-2">
            <label asp-for="CountryId"></label>
            <select asp-for="CountryId" class="form-control">
                <option value="" selected> -- select an option -- </option>
                @foreach (var country in Model.Countries)
                {
                    <option value="@country.Id">@country.Name</option>
                }
            </select>
            <span asp-validation-for="SpecializationId" class="small text-danger"></span>
        </article>
        <article class="form-check form-switch mt-4 mx-2">
            <input class="form-check-input" type="checkbox" asp-for="IsAvailable">
            <label class="form-check-label" asp-for="IsAvailable">Is Available</label>
        </article>
        <input class="btn btn-primary mt-3" type="submit" value="Submit" />
    </section>
</form>

<section class="row justify-content-center mt-3">
    @if (@Model.Candidates.Any())
    {
        @foreach (var candidate in @Model.Candidates)
        {
            <section class="card col-md-3 m-2 bg-light">
                <img src="@candidate.ImageUrl" class="card-img-center m-1 rounded" alt="Candidate Picture" />
                <section class="card-body">
                    <h5 class="card-title">@candidate.FirstName @candidate.LastName (@candidate.Age)</h5>
                    <p class="card-text">@candidate.Specialization</p>
                    <p class="card-text"><i class="fas fa-map-marker-alt"></i> @candidate.Country</p>
                    <a asp-controller="Candidate" asp-action="Details" asp-route-id="@candidate.Id" class="btn btn-primary">Details</a>
                </section>
            </section>
        }
    }
    else
    {
        <h1 class="text-center">No candidates found!</h1>
    }
</section>