@model CandidateDetailsViewModel

@inject ICandidateService candidateService;
@inject ICompanyService companyService;
@inject IUniversityService universityService;
@inject ICandidateUniversityService candidateUniversityService;

@{
    ViewData["Title"] = "Candidate Details";
}

<section class="border border-dark rounded p-4">

    @if (Model.Id == candidateService.GetIdByUserId(User?.Id()))
    {
        <a class="btn btn-primary rounded m-1"
       asp-area="Candidate"
       asp-controller="Candidate"
       asp-action="Edit"
       asp-route-id="@Model.Id">Edit</a>

        if (candidateService.IsCandidateAlreadyAnIntern(Model.Id))
        {
            <a class="btn btn-primary rounded m-1"
       asp-controller="Company"
       asp-action="Details"
       asp-route-id="@Model.CompanyId">My Company</a>
        }
        else
        {
            <a class="btn btn-primary rounded m-1"
       asp-area="Candidate"
       asp-controller="Application"
       asp-action="MyApplications"
       asp-route-candidateId="@Model.Id">My Applications</a>
        }

    }

    @if (companyService.IsCompanyByUserId(User?.Id())
    && candidateService.IsCandidateInCompany(Model.Id, companyService.GetIdByUserId(User?.Id())))
    {
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Remove Intern from Company
        </button>

        <!-- Modal -->
        <section class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <section class="modal-dialog">
                <section class="modal-content">
                    <section class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Remove candidate</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </section>
                    <section class="modal-body">
                        <p>Remove this intern from the company?</p>
                    </section>
                    <section class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a class="btn btn-danger rounded"
                       asp-area="Company"
                       asp-controller="Intern"
                       asp-action="Remove"
                       asp-route-candidateId="@Model.Id">Remove Intern from Company</a>
                    </section>
                </section>
            </section>
        </section>
    }
    @if (User.IsAdmin())
    {
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
        </button>

        <!-- Modal -->
        <section class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <section class="modal-dialog">
                <section class="modal-content">
                    <section class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete candidate</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </section>
                    <section class="modal-body">
                        <p>Delete this candidate?</p>
                    </section>
                    <section class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        <a class="btn btn-danger rounded m-1"
                       asp-area="Administrator"
                       asp-controller="Candidate"
                       asp-action="Delete"
                       asp-route-id="@Model.Id">Delete</a>
                    </section>
                </section>
            </section>
        </section>
    }

    @if (universityService.IsUniversityByUserId(User?.Id()))
    {
        var universityId = universityService.GetIdByUserId(User?.Id());

        @if (!candidateUniversityService.IsCandidateInUniversityAlumni(universityId, Model.Id))
        {
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add to Alumni
            </button>

            <!-- Modal -->
            <section class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <section class="modal-dialog">
                    <section class="modal-content">
                        <section class="modal-header">
                            <p class="modal-title h5" id="exampleModalLabel">Confirmation</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </section>
                        <section class="modal-body">
                            <p class="h5">Add this candidate to university's alumni?</p>
                        </section>
                        <section class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a class="btn btn-primary rounded m-1"
                       asp-area="University"
                       asp-controller="University"
                       asp-action="AddToAlumni"
                       asp-route-universityId="@universityId"
                       asp-route-candidateId="@Model.Id">Add To Alumni</a>
                        </section>
                    </section>
                </section>
            </section>
        }
        else
        {
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Remove from Alumni
            </button>

            <!-- Modal -->
            <section class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <section class="modal-dialog">
                    <section class="modal-content">
                        <section class="modal-header">
                            <p class="modal-title h5" id="exampleModalLabel">Confirmation</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </section>
                        <section class="modal-body">
                            <p class="h5">Remove this candidate from university's alumni?</p>
                        </section>
                        <section class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a class="btn btn-danger rounded m-1"
                       asp-area="University"
                       asp-controller="University"
                       asp-action="RemoveFromAlumni"
                       asp-route-universityId="@universityId"
                       asp-route-candidateId="@Model.Id">Remove from Alumni</a>
                        </section>
                    </section>
                </section>
            </section>
        }
    }

    <section class="container d-flex bd-highlight justify-content-evenly align-items-center flex-wrap">
        <article style="max-width: 400px;">
            <img src="@Model.ImageUrl" class="img-fluid rounded p-1" />
        </article>
        <article class="p-3">
            <p>Full Name: @Model.FirstName @Model.LastName</p>
            <p>Born: @Model.BirthDate</p>
            <p>Gender: @Model.Gender</p>
            @if (!string.IsNullOrEmpty(Model.WebsiteUrl))
            {
                <p>Website: <a href="@(@Model.WebsiteUrl.Contains("http") ? @Model.WebsiteUrl : $"http://{@Model.WebsiteUrl}")">@Model.WebsiteUrl</a></p>
            }
            @if (!string.IsNullOrEmpty(Model.Company))
            {
                <p>Company: @Model.Company</p>
            }
            <p>Specialization: @Model.Specialization</p>
            <p>Country: @Model.Country</p>
            <p>@Model.IsAvailableMessage</p>
            <p>@(@Model.ModifiedOn == null ? $"Created on: {@Model.CreatedOn}" : $"Modified on: {@Model.ModifiedOn}")</p>
        </article>
    </section>
    <article class="p-2 m-3 bg-light">
        @if (string.IsNullOrEmpty(Model.Description))
        {
            <p class="text-center">Apparently, this user prefers to keep an air of mystery about them.</p>
        }
        else
        {
            <p class="text-center" style="word-wrap: break-word;">@Html.Raw(Model.Description)</p>
        }
    </article>
</section>
<section>
    @if (Model.Universities.Any())
    {
        <p class="h3 my-4 text-center">This candidate has studied in</p>
        <partial name="_UniversitiesPartial" model="@Model.Universities" />
    }
</section>